<h1 style="color: black; text-align: center">Flappy-True</h1>

<h5 style="color: whitesmoke; text-align: center">
  O jogo foi desenvolvido pelo aluno Samuel Saturnino Junior,<br>do curso de Bacharelado em Sistemas de Informação, sob <br>
  orientação do Prof. Dr. Richarlyson D'Emery (UFRPE/UAST).
</h5>

<h5 style="color: white; text-align: center">
  <p class="text-black" href="" target="_blank"></p>
    O jogo traz noções de Tabela Verdade através de raciocínio lógico.<br>Onde devemos completar sentenças coletando moedas.<br>
    Para mais detalhes, siga o <font color="black"><b>Video-Tutorial</b></font> a seguir:
  </p>
  <a class="text-black" href="https://youtu.be/RlfZXi3gw8A" target="_blank"
  >https://youtu.be/RlfZXi3gw8A</a>
  
</h5>

<div
  id="container-button"
  class="d-flex justify-content-center align-items-center"
  onclick="changeScreen('menu')"
>
  <label>Voltar</label>
  <input src="../assets/ui/Button17.png" type="image" />
</div>
<div>
    <h6 href=""size="20" class="text-black">E-mail dos responsáveis:<br>samuelssj06@gmail.com <br>richarlyson.demery@ufrpe.br.</h6>
</div>
