<h1 style="color: white; text-align: center">Game Over</h1>

<h4 style="color: black; text-align: center">Tentar Novamente?</h4>

<h6 style="color: white; text-align: center">
  <div
    id="container-button"
    class="d-flex justify-content-center align-items-center"
    onclick="window.location.href = `./flappy-bird`"
  >
    <label>Sim</label>
    <input src="../assets/ui/Button18.png" type="image" />
  </div>
  <div
    id="container-button"
    class="d-flex justify-content-center align-items-center"
    onclick="goTohome()"
  >
    <label>Não</label>
    <input src="../assets/ui/Button17.png" type="image" />
  </div>
</h6>
