<h1 style="color: white; text-align: center">Ajuda</h1>

<h4 style="color: white; text-align: center">
  Video-Tutorial de ajuda no link a seguir:
</h4>

<h6 style="color: white; text-align: center">
  <a class="text-black" href="https://youtu.be/RlfZXi3gw8A" target="_blank"
    >https://youtu.be/RlfZXi3gw8A</a
  >
</h6>

<div
  id="container-button"
  class="d-flex justify-content-center align-items-center"
  onclick="changeScreen('menu')"
>
  <label>Voltar</label>
  <input src="../assets/ui/Button17.png" type="image" />
</div>
