<h1 style="color: white; text-align: center">Você já possui uma conta ?</h1>

<div class="row">
  <div class="col">
    <div
      id="container-button"
      class="d-flex justify-content-center align-items-center"
      onclick="alert('Em desenvolvimento ...')"
    >
      <label>Entrar</label>
      <input src="../assets/ui/Button12.png" type="image" />
    </div>
  </div>
  <div class="col">
    <div
      id="container-button"
      class="d-flex justify-content-center align-items-center disabled"
      onclick="alert('Em desenvolvimento ...')"
    >
      <label>Inscreva-se</label>
      <input src="../assets/ui/Button13.png" type="image" />
    </div>
  </div>
</div>

<div
  id="container-button"
  class="d-flex justify-content-center align-items-center"
  onclick="window.location.href = `./flappy-bird`"
>
  <label>Apenas Jogar</label>
  <input src="../assets/ui/Button11.png" type="image" />
</div>

<div
  id="container-button"
  class="d-flex justify-content-center align-items-center"
  onclick="changeScreen('menu')"
>
  <label>Voltar</label>
  <input src="../assets/ui/Button17.png" type="image" />
</div>
