<div id="container-button" class="d-flex justify-content-center align-items-center" onclick="changeScreen('login')">
    <label>Jogar</label>
    <input src="../assets/ui/Button11.png" type="image">
</div>
<div id="container-button" class="d-flex justify-content-center align-items-center" onclick="changeScreen('help')">
    <label>Ajuda</label>
    <input src="../assets/ui/Button12.png" type="image">
</div>
<div id="container-button" class="d-flex justify-content-center align-items-center" onclick="changeScreen('settings')">
    <label>Opções</label>
    <input src="../assets/ui/Button13.png" type="image">
</div>
<div id="container-button" class="d-flex justify-content-center align-items-center" onclick="alert('Créditos')">
    <label>Créditos</label>
    <input src="../assets/ui/Button15.png" type="image">
</div>